body{
font-family: -apple
-system,BlinkMacsystemFo
nt,Segoe UI,Roboto,Oxygen
-Sans,Ubuntu,Cantarell,
 Helvetticca Neue,
  sans-serif;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

.container1 {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.logo {
  margin-top: 20px;
  margin-left: -500px;
}

.textField {
  height: 50px;
  padding-left: 50px;
}
.textFieldInput {
  border: 1px solid grey;
}
